

/* ************************ general ********************* 333 *eae6dc */ /

body {
  text-align: center;
  font-weight: 300;
  color: #351;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  opacity: 2;
  height: auto;
  margin: auto;
}

p {
  text-align: justify;
}

button {
  font-weight: bold;
  color: black;
}

.img_profile {
  width: 65%;
  height: 50% ;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
}


.img_profileab {
  width: 50%;
  height: 50% ;
  padding: 60px;
  border-radius: 65px;
  text-align: center;
}




ul {
  text-align: justify;
 list-style-type: circle;
 list-style-position: inside;
}

nav {
  margin-left: 20% ;
  margin-right: 20%;
  font-family: "Copperplate", fantasy;
}

h3 {
  margin-top: 2% ;
  margin-bottom: 2% ;
}

a {

  color: black;
}

.secretButton {
    opacity: 0;
}


/* ******************* Research ************************* */


.indent{
  margin-left:2%

}

.esppro{
  margin-left:4%

}

.description {
  margin-top: 2%;
  margin-left: 20% ;
  margin-right: 20%;
  margin-bottom: 0%;
  padding: 0%;
  text-align: justify;
  background-color: #EAE7DC
}

.working_papers {
  margin-top: 2%;
  margin-left: 20% ;
  margin-right: 20%;
  margin-bottom: 0%;
  background-color: #EAE7DC
}

.work_in_progress {
  margin-top: 2%;
  margin-left: 20% ;
  margin-right: 20%;
  margin-bottom: 0%;
  background-color: #EAE7DC
}

.work_title{
  text-decoration: underline;
}

.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DADED4 ; /* background: linear-gradient(90deg, #DADED4, #EAE7DC) */
  /* border-radius: 0 20px 20px 0; */
}

.nav_social {
  float: left;
}

.nav_social a {
  display: block;
  color: #666;
  border: 1px solid #DADED4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_social  a:hover {
  background-color: #F3F3F3;
  color: black;
}

.first-column {
    width: 40%;
    float: left;
}

.second-column {
    width: 60%;
    float: right;
    text-align: left;
}


.coauthors {
   margin: 0px;
   padding: 0px;
}

.info {
   margin-top: 0px;
   margin-bottom: 1%;
   padding: 0px;
   font-style: italic;
}


/* **************** Shape for smartphone ************************* */

@media only screen and (max-width: 765px) {
  .description {
    margin-left: 2% ;
    margin-right: 2%;
  }
  .second-column {
    width:100%;
    text-align: center;
    }
  .first-column {
      width:100%;
      text-align: center;
      }
  .img_profile {
        width: 40%;
        height: 60% ;
            }
  nav {
        margin-left: 2% ;
        margin-right: 2%;
  }
  .working_papers {
    margin-left: 0% ;
    margin-right: 8%;
  }

  .research_in_interests {
    margin-left: 0% ;
    margin-right: 8%;
  }



/* **************************************************************** */
/* ************************* TABLE ******************************** */
/* **************************************************************** */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
}

.tableHead {
background-color: #DBD6C2 ;
}

/* ************************* Css lesson *************************** */


.img_concave {
  width: 20%;
  height: 20%;
  border-radius: 0px;
  border: 1px solid gray;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.img_loupe {
  width: 60%;
  height: 50%;
  border-radius: 0px;
  border: 1px solid gray;
  display: block;
  margin-left: auto;
  margin-right: auto

}


/* **************************************************************** */

.button3{
 display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.3em 0.3em 0;
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 background-color:#4eb5f1;
 text-align:center;
 transition: all 0.2s;
}

.button3:hover{
 background-color:#4095c6;
}
/* **************************************************************** */
